<h4 class="modal-title" id="myModalLabel"><%= title %></h4>
<form role="form" class="edit-form" id="bike-edit-form">
	<div class="form-group">
		<input type="text" class="form-control input-sm" id="input-image" placeholder="<%= image %>" value="<%= image %>">
	</div>
	<div class="form-group">
		<input type="text" class="form-control input-sm" id="input-title" placeholder="<%= title %>" value="<%= title %>">
	</div>
	<button type="button" class="btn btn-primary btn-xs" id="bike-edit-save-button"><span class='glyphicon glyphicon glyphicon-cloud-upload'></span> Save</button>
	<button type="button" class="btn btn-danger btn-xs" id="bike-edit-delete-button"><span class='glyphicon glyphicon glyphicon-trash'></span> Delete</button>
	<button type="button" class="btn btn-default btn-xs edit-button" id="bike-edit-cancel-button"><span class='glyphicon glyphicon glyphicon-remove'></span> Cancel</button>
</form>